/* Just for decoration */
body {
	font-size: 17px;
	background-color: #eee;
	padding: 50px;
}

#back-to-top {
	font-size: 30px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	padding: 5px 20px;
	background-color: #fff;
	box-shadow: 0 5px 20px -10px rgba(0,0,0,0.3);
	cursor: pointer;
	transition: .2s ease-in-out;
}

#back-to-top:hover {
	box-shadow: unset;
	transform: translateY(-10px);
}
/* Just for decoration */