:root {
	--primary-color: #1ebe1e;
}

a {
	color: var(--primary-color);
}

a:hover {
	color: var(--primary-color);
}

.container {
	max-width: 1600px;
}

table.dataTable thead th:first-child, table.dataTable tfoot th:first-child {
	min-width: 200px;
}

table.dataTable thead th, table.dataTable thead td {
	padding: 10px 10px;
	border-bottom: 1px solid #111;
}